<div class="bg">
  <div class="container">
    <div class="titulo">
      <div>
        <img src="../../assets/img/gymhack_business.png" alt="" />
      </div>
      <div>
        <a [routerLink]="'/home'" class="fechar">
          <svg
            width="2.5em"
            height="2.5em"
            viewBox="0 0 16 16"
            class="bi bi-x-circle"
            fill="#FD49C659"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
            />
            <path
              fill-rule="evenodd"
              d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
            />
          </svg>
        </a>
      </div>
    </div>
    <div class="conteudo">
      <div class="campos-login">
        <h1>Entrar</h1>
        <p>Novo usuário? <a href="#">Crie uma conta</a></p>
        <div>
          <input type="email" placeholder="Email" class="campos" />
        </div>
        <div>
          <input type="senha" placeholder="Senha" class="campos" />
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" />
          <label class="form-check-label check" for="exampleCheck1"
            >Lembrar minha senha</label
          >
        </div>
        <button class="btn btn-cor">Entrar</button>
      </div>
      <div class="imagem">
        <img
          src="../../assets/img/reception.png"
          alt="Moça sentada em uma cadeira com alguns gráficos atrás"
        />
      </div>
    </div>
  </div>
</div>
