<div class="bg">
  <div class="container">
    <div class="cabecalho">
      <div>
        <img src="../../assets/img/Gymhack.png" alt="Logo Gymhack" />
      </div>
      <div class="circulo">
        <img
          class="foto-perfil"
          src="../../assets/img/bruce-mars-BaAELC11UYE-unsplash.jpg"
          alt="Foto de perfil de uma garota"
        />
        <svg
          width="2em"
          height="2em"
          viewBox="0 0 16 16"
          class="bi bi-caret-down-fill setinha"
          fill="white"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"
          />
        </svg>
      </div>
    </div>
  </div>
  <div class="bg-foto">
    <div class="campeao">
      <img
        class="foto"
        src="../../assets/img/bruce-mars-BaAELC11UYE-unsplash.jpg"
        alt=""
      />
      <p class="descricao">Vanessa Miura</p>
      <p class="descricao">11907</p>
    </div>
    <div class="colocados">
      <div>
        <img
          class="foto-dois"
          src="../../assets/img/trust-tru-katsande-Pu7BOaYlYGY-unsplash.jpg"
          alt=""
        />
        <p class="descricao">Ana Julia</p>
        <p class="descricao">10007</p>
      </div>
      <div>
        <img
          class="foto-dois"
          src="../../assets/img/john-fornander-dMWL8V7L8G4-unsplash.jpg"
          alt=""
        />
        <p class="descricao">João Oliveira</p>
        <p class="descricao">9907</p>
      </div>
    </div>
    <div class="btn btn-cor">
      <p class="rank-btn">Rank dos melhores da Gymhack</p>
    </div>
  </div>
  <div class="lista">
    <div class="container conteudo-busca">
      <input
        class="form-control busca"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-rosa">Buscar</button>
    </div>
    <div class="lista-pessoas"></div>
  </div>
</div>
